<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template"
	xmlns:sec=https://www.thymeleaf.org/thymeleaf-extras-springsecurity5>
<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<head>
<meta charset="utf-8">
<title>Liste des Rattrapages</title>
</head>
<body>
	<div layout:fragment="Mycontent">
		<div class="container mt-5">
			<div class="card">
				<div class="card-header">Liste des Rattrapages</div>
				<div class="card-body">
				
<div class="container">
  
  <!-- Trigger the modal with a button -->
  <button sec:authorize="hasRole('ENSEIGNANT')" type="button"   class="btn btn-warning float-right"  data-toggle="modal" data-target="#myModal">ADD</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">ADD RATTRAPAGE</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
       
        </div>
        <div class="modal-body">
          <form th:action="@{saveRattrapage}" method="post">
					<div class="form-group">
<label class="control-label" hidden>ID Parcours :</label>
<input type="hidden" name="idrat" class="form-control" />
</div>
<div class="form-group">
<label class="control-label">module :</label>
<input type="text" name="module" class="form-control"/>

</div>

<div class="form-group">
							<label class="control-label">date  :</label>
							<input type="date" name="dateEmbauche" class="form-control"  />
						</div>

<div class="form-group">
							<label class="control-label">Salle :</label> 
							<select    type="text" name="salle" class="form-control" >
								<option th:each="c:${salles}" th:if="${mode=='edit'}"
									th:value="${c.ids}" th:text="${c.ids}"
									th:selected="${ c.ids==rattrapage.salle.ids}"></option>

								<option th:each="c:${salles}" th:if="${mode=='new'}"
									th:value="${c.ids}" th:text="${c.ids  +  c.type}"></option>
							</select>
						</div>

<div class="form-group">
							<label class="control-label">motif :</label> 
							<select    type="text" name="motif" class="form-control"   >
								<option th:each="c:${motifs}" th:if="${mode=='edit'}"
									th:value="${c.idMotif}" th:text="${c.nomMot}"
									th:selected="${ c.idMotif==rattrapage.motif.idMotif}"></option>

								<option th:each="c:${motifs}" th:if="${mode=='new'}"
									th:value="${c.idMotif}" th:text="${c.nomMot }"></option>
							</select>
						</div>
<div>


</div>

        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-danger " data-dismiss="modal">Cancel</button>

        <button type="submit" class="btn btn-warning float-right">Ajouter</button> 


        </div>
        </form>
      </div>
    </div>
  </div>
</div>
					
					<table class="table table-striped">
						<tr>
							<th>ID Rattrapage</th>
							<th>module</th>
							<th> date Emb </th>
							<th> Salle </th>
							<th>Motif</th>
							<th> Etat </th>
							
							
						</tr>
						<tr th:each="s:${rattrapages}">
							<td th:text="${s.idrat}"></td>
								<td th:text="${s.module}"></td>
							<
							<td th:text="${s.dateEmbauche}"></td>
							<td th:text="${s.salle.type}"></td>
					
							<td th:text="${s.motif.nomMot}"></td>
							<td th:text="${s.etat}"></td>
							
							
							
							
						

							<td sec:authorize="hasRole('ADMIN')"><a
								class="btn btn-danger"
								onclick="return confirm('Etes-vous sûr ?')"
								th:href="@{supprimerRattrapage(id=${s.idrat},
                                page=${currentPage},size=${size})}">Supprimer</a></td>
                                <td sec:authorize="hasRole('ADMIN')" ><a class="btn btn-success"th:href="@{modifierRat(id=${s.idrat})}">accepter</a> </td>
                                <td sec:authorize="hasRole('ADMIN')" ><a class="btn btn-info"th:href="@{refuserRat(id=${s.idrat})}">refuser</a> </td>
						</tr>
					</table>
					<ul class="nav nav-pills">
						<li th:each="page,status:${pages}"><a
							th:class="${status.index==currentPage?'btn btn-primary':'btn' }"
							th:href="@{ ListeRattrapages(page=${status.index}, size=${size} ) }"
							th:text="${status.index }"></a></li>
					</ul>

				</div>
			</div>
		</div>
	</div>
</body>
</html>